*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.full-website{
    width: 100%;
    margin: auto;
}

/* HEADER START */
header{
    background-color: #00c6a0;
    font-family: emoji;
    color: #ddd;
    
}
.header-left{
    float: left;
    width: 40%;
}
.header-left h2 {
    margin-left: 41px;
    padding: 20px;
}
.header-right{
    float: right;
    width: 60%;
    text-align: end;

}
.header-right nav{}
.header-right nav ul{
    margin-right: 20px;
}
.header-right nav ul li{
    display: inline-block;
}
.header-right nav ul li a {
    padding: 0px 20px;
    line-height: 93px;
    display: block;
    color: #ddd;
    transition: .5s;
}
.header-right nav ul li a:hover{
    color: #fff;
    text-decoration: none;
}

/* HEADER END */

/* banner start */

.banner {
    text-align: center;
    background-image: url(https://i.ibb.co/T1CQyZk/header-bg01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 234px 0;
    background-attachment: fixed;
    box-sizing: border-box;
}
.banner h1 {
    font-size: 55px;
    font-family: emoji;
    font-weight: 600;
    color: #fff;
}
.banner p {
    font-family: emoji;
    font-size: 21px;
    margin-bottom: 47px;
    color: #ddd;
    font-weight: 600;
}
.banner a {
    text-decoration: none;
    color: #fff;
    border: 2px solid #ddd;
    padding: 8px 23px;
    border-radius: 5px;
    font-size: 19px;
    color: #ddd;
}

.banner a:hover{
    color: #fff;
    background-color: #00c9a5;
}


/* banner end */
/* service section start */


.service{
    border-bottom: 2px solid #00c398;
}
.text {
    text-align: center;
    padding: 80px 0;
}
.text h2{
    font-family: emoji;
    font-weight: 600;
}
.text p {
    font-size: 15px;
}



.icon1 {
    
    padding-bottom: 80px;
   
    width: 90%;
    margin: auto;
}
.icon {
    float: left;
    width: 21%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.icon span{
    color: #00c398;
    font-size: 40px;
}
.icon span:hover{

}

.icon h3 {
    margin: 12px 0;
    font-weight: 600;
}
.icon p{
    font-size: 15px;
}
/* service section end */

/* blog section start */
.blog{
    margin: 50px 0;
}

.text2{
    margin: 50px 0 40px 0;
}
.text2 h3{
    font-family: emoji;
    font-weight: 600;
}
.text2 p{
    font-size: 15px;
}


.blog-left{
    float: left;
    width: 40%;
}
.blog-left img{
    width: 100%;
    height: auto;
    float: left;
    margin: 20px;
}
.blog-right{
    float: right;
    width: 55%;
    margin-top: 13px;
}
.blog-right-text h4{
    font-weight: 500;
}
.blog-right-text p{
    font-size: 15px;
    margin-right: 20px;
}

/* blog section end */
/* contact section start */
.communication{
    background-color: #f6f6f5;
    padding: 65px 0;
}
.head{
    margin-bottom: 50px;
}
.head h3{
    font-family: emoji;
    font-weight: 600;
}
.head p{
    font-size: 15px;
}
.contact1{
    width: 100%;
    margin: auto;
    text-align: center;
}
.contact{
   float: left;
   width: 33%;
}
.contact span{
    color: #00c398;
    font-size: 25px;
    transition: .5s;
   
}
.contact span:hover{
    color: #0bf06a;
 
}
.contact p{
    margin-top: 15px;
}

/* contact section end */
/* socal menu section start */

.socal-menu{}
.socal-menu ul{
    text-align: center;
    background-color: #00c398;
}
.socal-menu ul li{
    display: inline-block;
}
.socal-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 25px 15px;
    display: block;
    font-size: 25px;
    transition: .5s;
}
.socal-menu ul li a:hover{
    color: #ddd;
    transform: scale(1.2);

}

/* socal menu section end */
/* footer section start */
footer{
    background-color: #262726;
    text-align: center;
}
footer p {
    color: rgba(221, 221, 221, 0.304);
    padding: 20px;
    font-size: 18px;
}

/* footer section end */


